.ChangeBackGround{
  background-color: rgba(128, 128, 128, 0.712);
}

.dark .ChangeBackGround{
  background-color: rgba(34, 34, 34, 0.589);
}

.Icon{ 
  position: absolute;
  margin-left: -20px;

}

.dark{
  background-color: rgba(0, 0, 0, 0.644);
  color: white;
  height: 100vh;
}

.dark table,.dark td{
  color: white;
}

.dark .bg-sky-400{
  background-color: #0369a1;
}